<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>DepartureMono-Regular.otf</string>
		<string>JetBrainsMono-Regular.ttf</string>
		<string>JetBrainsMono-Bold.ttf</string>
		<string>FiraCode-Regular.ttf</string>
		<string>FiraCode-Bold.ttf</string>
		<string>Hack-Regular.ttf</string>
		<string>Hack-Bold.ttf</string>
		<string>SourceCodePro-Regular.otf</string>
		<string>SourceCodePro-Bold.otf</string>
		<string>IBMPlexMono-Regular.ttf</string>
		<string>IBMPlexMono-Bold.ttf</string>
		<string>Inconsolata-Regular.ttf</string>
		<string>Inconsolata-Bold.ttf</string>
		<string>AtkinsonHyperlegibleMono-Regular.ttf</string>
		<string>AtkinsonHyperlegibleMono-Bold.ttf</string>
		<string>OpenDyslexicNerdFont-Regular.otf</string>
		<string>OpenDyslexicNerdFont-Bold.otf</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UISupportsMultipleScenes</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
		<key>UIImageName</key>
		<string>LaunchLogo</string>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSBonjourServices</key>
	<array>
		<string>_ssh._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Geistty uses local network access to connect to SSH servers on your local network.</string>
</dict>
</plist>
